<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="#" (click)="onSelected('documents')">
      WeLearn CMS
    </a>

    <!-- Links -->
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelected('documents')">
          Documents
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelected('messages')">
          Messages
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelected('contacts')">
          Contacts
        </a>
      </li>

      <!-- optional user dropdown -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="userDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          User
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="userDropdown">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
